CREATE PROCEDURE NOTARIAS_RECIBO
(
    @CONTRIBUYENTE VARCHAR(10)
   ,@GENERADOR VARCHAR(100)
   ,@DATO VARCHAR(20)
)	
AS
BEGIN
  DECLARE @CUENTAS TABLE
	(   CUENTA VARCHAR(10),
		GENERADOR VARCHAR(8), 
		MONTO NUMERIC(15,2), 
		CONTRIBUYENTE VARCHAR(11), 
		OBS VARCHAR(100), 
		E VARCHAR(1)  )
  
  DECLARE @REGISTROS INTEGER
  DECLARE @CUENTA_C VARCHAR(10)
  DECLARE @CANCELACION VARCHAR(10)
  DECLARE @OBS VARCHAR(100)

  IF LEFT(@GENERADOR,5) = 'PREDI'
  BEGIN
    INSERT INTO @CUENTAS
	SELECT CUENTA  , GENERADOR , MONTO , CONTRIBUYENTE , OBS , E
	FROM CUENTA
	WHERE CONTRIBUYENTE = @CONTRIBUYENTE
	  AND E= 'C'
	  AND GENERADOR = 'CONSTP'
	  AND YEAR(F_VENCIMIENTO) = YEAR(GETDATE())
	  AND OBS LIKE '%'+@DATO+'%' 
  END

  IF LEFT(@GENERADOR,5) = 'ALCAB'
  BEGIN
    INSERT INTO @CUENTAS
	SELECT CUENTA  , GENERADOR , MONTO , CONTRIBUYENTE , OBS , E
	FROM CUENTA
	WHERE CONTRIBUYENTE = @CONTRIBUYENTE
	  AND E= 'C'
	  AND GENERADOR = 'CONSTA'
	  AND YEAR(F_VENCIMIENTO) = YEAR(GETDATE())
	  AND OBS LIKE '%'+@DATO+'%' 
  END

  IF LEFT(@GENERADOR,5) = 'IMPVE'
  BEGIN
    INSERT INTO @CUENTAS
	SELECT CUENTA  , GENERADOR , MONTO , CONTRIBUYENTE , OBS , E
	FROM CUENTA
	WHERE CONTRIBUYENTE = @CONTRIBUYENTE
	  AND E= 'C'
	  AND GENERADOR = 'CONSTV'
	  AND YEAR(F_VENCIMIENTO) = YEAR(GETDATE())
	  AND OBS LIKE '%'+@DATO+'%' 
  END

  IF LEFT(@GENERADOR,5) = 'LIMPP'
  BEGIN
    INSERT INTO @CUENTAS
	SELECT CUENTA  , GENERADOR , MONTO , CONTRIBUYENTE , OBS , E
	FROM CUENTA
	WHERE CONTRIBUYENTE = @CONTRIBUYENTE
	  AND E= 'C'
	  AND GENERADOR = 'CONSTL'
	  AND YEAR(F_VENCIMIENTO) = YEAR(GETDATE())
	  AND OBS LIKE '%'+@DATO+'%' 
  END
  
  SELECT @REGISTROS = COUNT(*) FROM @CUENTAS

  IF @REGISTROS >0
    BEGIN
	  SELECT @CUENTA_C  = MAX(CUENTA) , @OBS = MAX(OBS) FROM @CUENTAS

      SELECT @CANCELACION  = MAX(CANCELACION) FROM CANCELACION_CUENTA WHERE CUENTA = @CUENTA_C

	  SELECT 'C' AS ESTADO , C.SERIE+'-'+C.NUMERO AS RECIBO, C.FECHA  , C.CONTRIBUYENTE, @OBS AS OBS
	  FROM CANCELACION C WHERE C.CANCELACION = @CANCELACION 

    END
  ELSE
    BEGIN
	  SELECT 'P' AS ESTADO , CAST('' AS VARCHAR(23)) AS RECIBO, CAST(NULL AS datetime) AS FECHA  , CAST('' AS VARCHAR(11)) AS CONTRIBUYENTE, CAST('' AS VARCHAR(100)) AS OBS
	END
  RETURN;
END


