
CREATE PROCEDURE [dbo].[NOTARIOS_CANCELACION_CONSTANCIA]
(   @GENERADOR VARCHAR(6),
	@CONTRIBUYENTE VARCHAR(11),
	@DATO VARCHAR(30),
	@OBS VARCHAR(100),
	@USUARIO VARCHAR(10),
    @O_CANCELACION VARCHAR(10) OUTPUT,
    @MONTO NUMERIC(15,2) OUTPUT
)
AS
BEGIN
--------------------------------------Variables-----------------------------------------
  DECLARE @VALOR NUMERIC(15,2)
  DECLARE @GENERADOR_CONST VARCHAR(6)
  DECLARE @OBS_CONST VARCHAR(200)
  DECLARE @VCODCUENTA DCODIGO10
  DECLARE @VFECHA_VCTO DFECHA
  
  DECLARE @VCOD_CANCELACION DCODIGO10
  
-------------------------------- COMIENZO ---------------------------------
  SET @GENERADOR_CONST =CASE LEFT(@GENERADOR,5) WHEN 'PREDI' THEN  'CONSTP'
	                                            WHEN 'ALCAB' THEN  'CONSTA'
											    WHEN 'IMPVE' THEN  'CONSTV'
											                 ELSE 'CONSTL' END

  SET @OBS_CONST = CASE @GENERADOR_CONST WHEN 'CONSTP' THEN  'DEL AÑO '+CAST(YEAR(GETDATE()) AS VARCHAR(4))+', PREDIO '+@DATO+'-'+@OBS
	                                     WHEN 'CONSTA' THEN  'DEL AÑO '+CAST(YEAR(GETDATE()) AS VARCHAR(4))+', TRANSFERENCIA '+@DATO+'-'+@OBS
										 WHEN 'CONSTV' THEN  'DEL AÑO '+CAST(YEAR(GETDATE()) AS VARCHAR(4))+', PLACA '+@DATO+'-'+@OBS
										               ELSE  'DEL AÑO '+CAST(YEAR(GETDATE()) AS VARCHAR(4))+', PREDIO '+@DATO+'-'+@OBS END 
  SET @OBS_CONST = LEFT(@OBS_CONST,100)

  SELECT @VALOR= VALOR
    FROM GENERADOR
	WHERE GENERADOR = @GENERADOR_CONST

  EXEC GENERAR_SIGUIENTE_CODIGO 'MANUAL',NULL,NULL,@VCODCUENTA OUTPUT

  SET @VFECHA_VCTO=GETDATE()

  INSERT INTO CUENTA 
	(CUENTA, GENERADOR, CONTRIBUYENTE, ES_FRACCION, F_EMISION, F_VENCIMIENTO, CANTIDAD, MONTO, SALDO, GASTOADM, 
	ES_RECTIFICADA, INTERES, DESCUENTO, PAGO_CUENTA, E, USUARIO_CREA, F_CREA, USUARIO_MODIFICA , F_MODIFICA , OBS , CCOACTIVA)
	VALUES 
	(@VCODCUENTA, @GENERADOR, @CONTRIBUYENTE, 'N', @VFECHA_VCTO, @VFECHA_VCTO, 1, @VALOR, @VALOR, 0, 
	 'N', 0, 0, 0, 'A', @USUARIO, GETDATE(), @USUARIO, GETDATE() , @OBS_CONST , 'N')

  EXEC GENERAR_SIGUIENTE_CODIGO 'CANC',@USUARIO,'CAJ',@VCOD_CANCELACION OUTPUT

  SELECT * FROM CANCELACION

  --Almacenar la cancelacion
	INSERT INTO CANCELACION (CANCELACION,SESION,CONTRIBUYENTE,TIPO_PAGO,FECHA,MONTO,DOC_REF,DOCUMENTO,SERIE,
	NUMERO,AGNO,OBS,E,USUARIO_CREA,USUARIO_MODIFICA)
	SELECT @VCOD_CANCELACION,388,@CONTRIBUYENTE,1,GETDATE(),@VALOR,
		   'DOCREF',0,'CST',@VCOD_CANCELACION,YEAR(@VFECHA_VCTO),@OBS_CONST,'A',@USUARIO,@USUARIO
	
	--ALmacenar los items de la cancelacion (en la tabla cancelacion_cuenta)
	INSERT INTO CANCELACION_CUENTA (CANCELACION,CUENTA,MONTO,MORA,GASTO_ADMINIS)
	SELECT @VCOD_CANCELACION,@VCODCUENTA,@VALOR ,0 ,0 

	SET @O_CANCELACION = @VCOD_CANCELACION
	SET @MONTO =@VALOR
	RETURN


END --Fin del procedimiento



