
ALTER PROCEDURE [dbo].[NOTARIAS_RECIBO]
(
    @CONTRIBUYENTE VARCHAR(10)
   ,@GENERADOR VARCHAR(100)
   ,@DATO VARCHAR(20)
)	
AS
BEGIN
  DECLARE @CUENTAS TABLE
	(   CUENTA VARCHAR(10),
		GENERADOR VARCHAR(8), 
		MONTO NUMERIC(15,2), 
		CONTRIBUYENTE VARCHAR(11), 
		OBS VARCHAR(100), 
		E VARCHAR(1)  )

  DECLARE @CANCELACION_2 TABLE
	(   CANCELACION VARCHAR(10),
	    CUENTA VARCHAR(10),
		FECHA DATETIME, 
		E VARCHAR(1)  )
  
  DECLARE @REGISTROS INTEGER
  DECLARE @CUENTA_C VARCHAR(10)
  DECLARE @CANCELACION VARCHAR(10)
  DECLARE @OBS VARCHAR(100)
  DECLARE @CON_PAGO_X_CONSTANCIA VARCHAR(1)

  DECLARE @SERIE VARCHAR(5)
  DECLARE @NUMERO VARCHAR(30)
  DECLARE @F_CANCELA AS DATETIME 
  DECLARE @F_CANCELA_modifica AS DATETIME 
		  
  DECLARE @IMPRESIONES SMALLINT
  DECLARE @IMPRESIONES_EFECTUDAS SMALLINT

  --**************************** DECLARAR EN CONFIGURACION, POR EL MOMENTO ES 3
  SET @IMPRESIONES = 3;
  SET @IMPRESIONES_EFECTUDAS = 0;


  SELECT @CON_PAGO_X_CONSTANCIA = Pag_Constancia
  FROM CONFIGURACION 

  IF @CON_PAGO_X_CONSTANCIA ='N'
  BEGIN
    --*********************
    SELECT 'C' AS ESTADO , CAST('NO_REQUIER' AS VARCHAR(23)) AS RECIBO, CAST(GETDATE() AS datetime) AS FECHA  , @CONTRIBUYENTE AS CONTRIBUYENTE, CAST('NO REQUIERE PAGO DE CONSTANCIA' AS VARCHAR(100)) AS OBS
	--******************
  END
  ELSE -- @CON_PAGO_X_CONSTANCIA ='N'
  BEGIN
    IF @CON_PAGO_X_CONSTANCIA ='S'
	BEGIN
	--*********************  RECIBO POR CONSTANCIA DE NO DEUDOR DE PREDIAL
	  IF LEFT(@GENERADOR,5) = 'PREDI'
		BEGIN
		INSERT INTO @CUENTAS
		  SELECT MAX(CUENTA)  , GENERADOR , MAX(MONTO) , CONTRIBUYENTE , MAX(OBS) , 'C'
		  FROM CUENTA 
		  WHERE CONTRIBUYENTE = @CONTRIBUYENTE
			AND E= 'C'
			AND GENERADOR = 'CONSTP'
			AND YEAR(F_VENCIMIENTO) = YEAR(GETDATE())
			AND OBS LIKE '%'+@DATO+'%' 
		  GROUP BY GENERADOR , CONTRIBUYENTE 
		END
	--*********************  RECIBO POR CONSTANCIA DE NO DEUDOR DE ALCABALA
	  IF LEFT(@GENERADOR,5) = 'ALCAB'
	  BEGIN
		INSERT INTO @CUENTAS
		SELECT MAX(CUENTA)  , GENERADOR , MAX(MONTO) , CONTRIBUYENTE , MAX(OBS) , 'C'
		FROM CUENTA
		WHERE CONTRIBUYENTE = @CONTRIBUYENTE
		  AND E= 'C'
		  AND GENERADOR = 'CONSTA'
		  AND YEAR(F_VENCIMIENTO) = YEAR(GETDATE())
		  AND OBS LIKE '%'+@DATO+'%' 
		GROUP BY GENERADOR , CONTRIBUYENTE 
	  END
	--*********************  RECIBO POR CONSTANCIA DE NO DEUDOR DE ALCABALA
	  IF LEFT(@GENERADOR,5) = 'IMPVE'
	  BEGIN
		INSERT INTO @CUENTAS
		SELECT MAX(CUENTA)  , GENERADOR , MAX(MONTO) , CONTRIBUYENTE , MAX(OBS) , 'C'
		FROM CUENTA
		WHERE CONTRIBUYENTE = @CONTRIBUYENTE
		  AND E= 'C'
		  AND GENERADOR = 'CONSTV'
		  AND YEAR(F_VENCIMIENTO) = YEAR(GETDATE())
		  AND OBS LIKE '%'+@DATO+'%' 
		GROUP BY GENERADOR , CONTRIBUYENTE 
	  END
	--*********************  RECIBO POR CONSTANCIA DE NO DEUDOR DE ALCABALA
	  IF LEFT(@GENERADOR,5) = 'LIMPP'
	  BEGIN
		INSERT INTO @CUENTAS
		SELECT MAX(CUENTA)  , GENERADOR , MAX(MONTO) , CONTRIBUYENTE , MAX(OBS) , 'C'
		FROM CUENTA
		WHERE CONTRIBUYENTE = @CONTRIBUYENTE
		  AND E= 'C'
		  AND GENERADOR = 'CONSTL'
		  AND YEAR(F_VENCIMIENTO) = YEAR(GETDATE())
		  AND OBS LIKE '%'+@DATO+'%' 
		GROUP BY GENERADOR , CONTRIBUYENTE 
	  END

	  SELECT @REGISTROS = COUNT(*) FROM @CUENTAS

	  IF (@REGISTROS >0)
		BEGIN
		  SELECT @CUENTA_C  = MAX(CUENTA) , @OBS = MAX(OBS) FROM @CUENTAS
		  SELECT @CANCELACION  = MAX(CANCELACION) FROM CANCELACION_CUENTA WHERE CUENTA = @CUENTA_C

          SELECT @SERIE = SERIE , @NUMERO = NUMERO, @F_CANCELA = FECHA  , @F_CANCELA_modifica = F_MODIFICA
          FROM CANCELACION C WHERE C.CANCELACION = @CANCELACION  AND E = 'A' 

		  SELECT @IMPRESIONES_EFECTUDAS = COUNT(*) FROM AUDITNOTARIAS WHERE CONTRIBUYENTE =@CONTRIBUYENTE AND GENERADOR = @GENERADOR AND F_INGRESO >=  @F_CANCELA_modifica

          IF (@IMPRESIONES_EFECTUDAS <= @IMPRESIONES)
			BEGIN
              SELECT 'C' AS ESTADO , @SERIE+'-'+@NUMERO AS RECIBO, @F_CANCELA AS FECHA  , @CONTRIBUYENTE AS CONTRIBUYENTE, @OBS AS OBS
			END 
            ELSE
			BEGIN
              SELECT 'P' AS ESTADO , CAST('' AS VARCHAR(23)) AS RECIBO, CAST(NULL AS datetime) AS FECHA  , CAST('' AS VARCHAR(11)) AS CONTRIBUYENTE, CAST('YA A IMPRESO 3 VECES SU CONSTANCIA' AS VARCHAR(100)) AS OBS
		    END

		END
	  ELSE
		BEGIN
		  SELECT 'P' AS ESTADO , CAST('' AS VARCHAR(23)) AS RECIBO, CAST(NULL AS datetime) AS FECHA  , CAST('' AS VARCHAR(11)) AS CONTRIBUYENTE, CAST('NO A CANCELADO POR CONSTACIOA DE NO DEUDOR' AS VARCHAR(100)) AS OBS
		END
	END
	ELSE
	BEGIN
	  SELECT 'P' AS ESTADO , CAST('' AS VARCHAR(23)) AS RECIBO, CAST(NULL AS datetime) AS FECHA  , CAST('' AS VARCHAR(11)) AS CONTRIBUYENTE, CAST('NO SE A CONFIGURARO EL PAGO POR CONSTANCIA DE NO DEUDOR' AS VARCHAR(100)) AS OBS
	END
  END
  RETURN;
END

/*

SELECT CONTRIBUYENTE , GENERADOR , MIN(F_INGRESO) , MAX(F_INGRESO) , COUNT(*)
FROM AUDITNOTARIAS 
WHERE YEAR(F_INGRESO) = 2023
GROUP BY CONTRIBUYENTE , GENERADOR

  UPDATE CONFIGURACION SET Pag_Constancia = 'S'

   UPDATE CONFIGURACION SET Pag_Constancia = 'N'

select * from AUDITNOTARIAS

00004	PREDIA	2023-03-07 11:40:33.413	2023-03-10 11:20:22.657	2
00012	PREDIA	2023-02-15 17:42:45.377	2023-03-28 11:28:12.507	45
00013	PREDIA	2023-03-07 11:48:47.323	2023-03-09 09:45:12.383	3
00021	PREDIA	2023-03-07 11:49:46.670	2023-03-07 11:49:46.670	1




EXECUTE NOTARIAS_RECIBO
   '00012' --@CONTRIBUYENTE
  ,'PREDIA' --@GENERADOR
  ,'%' --@DATO

*/




